@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

span, p, h1, h2, h3, h4, h5, h6 {
    font-family: "Wanted Sans", sans-serif;
}

:root {
    --color-border: #e1e1e1;
}